# Scala project ignores
recipe_extractor/target/
recipe_extractor/project/target
recipe_extractor/.ensime*
recipe_extractor/.ensime/
extractr/target/
extractr/project/target
extractr/.ensime*
extractr/.ensime/

# Emacs ignores
*~

# Python ignores
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
